.truncated-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px;
  // max-width: 600px;
  // max-width: 100vw;
}

table {
  overflow-x: auto;
  width: 100%;
}

tr > th:not(:first-child) {
  padding-left: 10px !important;
}

tr > th:not(:last-child) {
  padding-right: 10px !important;
}

tr > td:not(:first-child) {
  padding-left: 10px !important;
}

tr > td:not(:last-child) {
  padding-right: 10px !important;
}
