img.banner {
  width: 100%;
  min-width: 0;
}

h1,
h2 {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 30pt;
}

h2 {
  font-size: 25pt;
}

div.title {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid gray;
  border-radius: 10px;
}

p.description {
  font-size: 12pt;
}
