<mat-card>
  <mat-card-content>
    <h1>Questions to analyze</h1>
    <ul>
      <li>Do you have other climate mitigation ideas? Submit here:</li>
      <li>
        Do you have other ideas for environmental equity, justice, and community
        resilience? Submit here:
      </li>
      <li>Do you have other policy ideas? Submit here:</li>
      <li>
        Are you interested in participating in any other ways to help make
        Tucson environmentally sustainable? Submit here:
      </li>
      <li>
        Is there anything else you would like to share that was not already
        addressed?
      </li>
      <li>Do you have other climate adaptation ideas? Submit here:</li>
    </ul>
  </mat-card-content>
</mat-card>
