.drawer-container {
  height: 100%;
}

.drawer-content {
  height: 100%;
}

.drawer {
  background-color: #EAEDF2;
  border-right: 1px solid #CCD3DF;
}

mat-nav-list {
  padding: 0;
}

.main-container {
  padding: 10px;
}

.logo {
  width: 180px;
  margin: 20px;
}
