tr > th:not(:first-child) {
  padding-left: 10px !important;
}

tr > th:not(:last-child) {
  padding-right: 10px !important;
}

tr > td:not(:first-child) {
  padding-left: 10px !important;
}

tr > td:not(:last-child) {
  padding-right: 10px !important;
}

.truncated-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px;
}

.table-container {
  overflow: auto;
}
